In [8]:
# import dependencies
import json
import pandas as pd
import numpy as np
import re
from sqlalchemy import create_engine
import psycopg2
import time
import sqlalchemy

In [9]:
file_dir = 'C:/Users/ackit/Desktop/Analysis Bootcamp Class Projects/Movies-ETL'

In [33]:
# Function that transforms data
def transFunc(wikiData, metadata, ratings):

    # create global variable for movies with ratings df
    global movies_with_ratings_df
    
    # open wiki file
    print(file_dir)
    with open(f'{file_dir}/wikiData.json', mode='r') as file:
        wiki_movies_raw = json.load(file)

    # open kaggle file
    kaggle_metadata = pd.read_csv(f'{file_dir}/movies_metadata.csv', low_memory=False)

    # open ratings file 
    ratings = pd.read_csv(f'{file_dir}/ratings.csv')
    
    # create dictionary of movies, remove tv shows
    wiki_movies = [movie for movie in wiki_movies_raw
               if ('Director' in movie or 'Directed by' in movie)
                   and 'imdb_link' in movie
                   and 'No. of episodes' not in movie]
    
    # create function to remove alternate language movies and rename columns
    def clean_movie(movie):
        movie = dict(movie) #create a non-destructive copy
        alt_titles = {}
        # combine alternate titles into one list
        for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                    'Hangul','Hebrew','Hepburn','Japanese','Literally',
                    'Mandarin','McCune-Reischauer','Original title','Polish',
                    'Revised Romanization','Romanized','Russian',
                    'Simplified','Traditional','Yiddish']:
            if key in movie:
                alt_titles[key] = movie[key]
                movie.pop(key)
        if len(alt_titles) > 0:
            movie['alt_titles'] = alt_titles

        # merge column names
        def change_column_name(old_name, new_name):
            if old_name in movie:
                movie[new_name] = movie.pop(old_name)
        change_column_name('Adaptation by', 'Writer(s)')
        change_column_name('Country of origin', 'Country')
        change_column_name('Directed by', 'Director')
        change_column_name('Distributed by', 'Distributor')
        change_column_name('Edited by', 'Editor(s)')
        change_column_name('Length', 'Running time')
        change_column_name('Original release', 'Release date')
        change_column_name('Music by', 'Composer(s)')
        change_column_name('Produced by', 'Producer(s)')
        change_column_name('Producer', 'Producer(s)')
        change_column_name('Productioncompanies ', 'Production company(s)')
        change_column_name('Productioncompany ', 'Production company(s)')
        change_column_name('Released', 'Release Date')
        change_column_name('Release Date', 'Release date')
        change_column_name('Screen story by', 'Writer(s)')
        change_column_name('Screenplay by', 'Writer(s)')
        change_column_name('Story by', 'Writer(s)')
        change_column_name('Theme music composer', 'Composer(s)')
        change_column_name('Written by', 'Writer(s)')

        return movie
    # create list of movies without alternate lang
    clean_movies = [clean_movie(movie) for movie in wiki_movies]
    
    # make clean movies into df
    wiki_movies_df = pd.DataFrame(clean_movies)
    
    # Only keep movies with proper imdb_id
    try:
        wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
        # print(len(wiki_movies_df))
        wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
    except:
        print('imdb_link incorrect format')
    
    # Count null values, keep any that are less than 90% null 
    wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
    wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]
    
    # remove null entries from box office
    box_office = wiki_movies_df['Box office'].dropna() 

    # convert lists to strings
    box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)

    # use regex to find entries like $123.4 million/billion
    form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'

    # use regex to find entries like $123,456,789.
    form_two = r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)'

    # create vars that represent form 1 and 2. Will be used to find missing forms
    matches_form_one = box_office.str.contains(form_one, flags=re.IGNORECASE)
    matches_form_two = box_office.str.contains(form_two, flags=re.IGNORECASE)

    # replace ranges with higher value
    box_office = box_office.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)
    
    # function to normalize box office entries
    def parse_dollars(s):
        # if s is not a string, return NaN
        if type(s) != str:
            return np.nan

        # if input is of the form $###.# million
        if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

            # remove dollar sign and " million"
            s = re.sub('\$|\s|[a-zA-Z]','', s)

            # convert to float and multiply by a million
            value = float(s) * 10**6

            # return value
            return value

        # if input is of the form $###.# billion
        elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

            # remove dollar sign and " billion"
            s = re.sub('\$|\s|[a-zA-Z]','', s)

            # convert to float and multiply by a billion
            value = float(s) * 10**9

            # return value
            return value

        # if input is of the form $###,###,###
        elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

            # remove dollar sign and commas
            s = re.sub('\$|,','', s)

            # convert to float
            value = float(s)

            # return value
            return value

        # otherwise, return NaN
        else:
            return np.nan

    # Find box office entries that match form 1 or 2 and run through parse_dollars function
    wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

    # delete original Box Office column
    wiki_movies_df.drop('Box office', axis=1, inplace=True)

    # create budget list without null values
    budget = wiki_movies_df['Budget'].dropna()

    # convert any lists to strings
    budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

    # remove ranges
    budget = budget.str.replace(r'\$.*[-—–](?![a-z])', '$', regex=True)

    # find budget entries that don't match form 1 or 2
    matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE)
    matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE)

    # remove citations
    budget = budget.str.replace(r'\[\d+\]\s*', '')

    # find budget entries that match form 1 or 2 and run through parse_dollars function
    wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

    # delete original budget column
    wiki_movies_df.drop('Budget', axis=1, inplace=True)

    # save release date list, remove any internal lists and null values.
    release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

    # ways dates are entered
    date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]\d,\s\d{4}'
    date_form_two = r'\d{4}.[01]\d.[123]\d'
    date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
    date_form_four = r'\d{4}'

    # convert to datetime
    wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

    # create list of running time. remove nulls and change lists to strings.
    running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

    # save extracted running time and convert to nans to 0. coerce makes errors NaNs. fillna() makes NaNs 0. 
    running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')
    running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

    # converto hours to minutes
    wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

    # delete original running time column
    wiki_movies_df.drop('Running time', axis=1, inplace=True)

    # Keep False adult movies then drop entire column
    kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')

    # remove non-videos from the df
    kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

    # convert columns to ints
    kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
    kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
    kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

    # convert to datetime
    kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

    # convert timestamp to datetime
    pd.to_datetime(ratings['timestamp'], unit='s')
    ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

    # merge dfs to identify redundant columns
    movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])

    # delete erroneous entries based on release date
    movies_df = movies_df.drop(movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index)

    # drop unwanted columns
    movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

    # create function that moves data from wiki to kaggle if kaggle is empty
    def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
        df[kaggle_column] = df.apply(
            lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
            , axis=1)
        df.drop(columns=wiki_column, inplace=True)

    # fill missing kaggle data with wiki data
    fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
    fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
    fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')

    # reorder columns
    movies_df = movies_df[['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                           'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                           'genres','original_language','overview','spoken_languages','Country',
                           'production_companies','production_countries','Distributor',
                           'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                          ]]

    # rename columns
    movies_df.rename({'id':'kaggle_id',
                      'title_kaggle':'title',
                      'url':'wikipedia_url',
                      'budget_kaggle':'budget',
                      'release_date_kaggle':'release_date',
                      'Country':'country',
                      'Distributor':'distributor',
                      'Producer(s)':'producers',
                      'Director':'director',
                      'Starring':'starring',
                      'Cinematography':'cinematography',
                      'Editor(s)':'editors',
                      'Writer(s)':'writers',
                      'Composer(s)':'composers',
                      'Based on':'based_on'
                     }, axis='columns', inplace=True)

    # group rating data by movie and rename userID to count. Then rearrange columns to show counts as rating values
    rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                    .rename({'userId':'count'}, axis=1) \
                    .pivot(index='movieId',columns='rating', values='count')

    # rename columns for better understanding
    rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

    # merge ratings with movie df.
    movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

    # replace NaNs with 0s
    movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)
    
    # get sql server pw
    from config import db_password
    
    # server connection
    db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/movie_data"
    
    # create db engine
    engine = create_engine(db_string)
    
    # Delete movies table content in sql
    connection = engine.connect()
    truncate_query = sqlalchemy.text("TRUNCATE TABLE movies")
    connection.execution_options(autocommit=True).execute(truncate_query)
    print('Deleted content in movies sql table')
    
    # Delete ratings table content in sql
    connection = engine.connect()
    truncate_query = sqlalchemy.text("TRUNCATE TABLE ratings")
    connection.execution_options(autocommit=True).execute(truncate_query)
    print('Deleted content in ratings sql table')
    
    # save movies_df data to sql
    movies_df.to_sql(name='movies', con=engine, if_exists='append')
    
    # Save ratings to SQL
    # create a variable for the number of rows imported
    rows_imported = 0
    # get the start_time from time.time()
    start_time = time.time()
    for data in pd.read_csv(f'{file_dir}/ratings.csv', chunksize=1000000):

        # print out the range of rows that are being imported
        print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')

        data.to_sql(name='ratings', con=engine, if_exists='append')

        # increment the number of rows imported by the size of 'data'
        rows_imported += len(data)

        # add elapsed time to final print out
        print(f'Done. {time.time() - start_time} total seconds elapsed')

In [34]:
# Run data through transformation function
transFunc("wikiData.json","movies_metadata.csv", "ratings.csv")

C:/Users/ackit/Desktop/Analysis Bootcamp Class Projects/Movies-ETL
Deleted content in movies sql table
Deleted content in ratings sql table
importing rows 0 to 1000000...Done. 91.70091152191162 total seconds elapsed
importing rows 1000000 to 2000000...Done. 182.87555623054504 total seconds elapsed
importing rows 2000000 to 3000000...Done. 270.4609684944153 total seconds elapsed
importing rows 3000000 to 4000000...Done. 368.59025049209595 total seconds elapsed
importing rows 4000000 to 5000000...Done. 454.7209360599518 total seconds elapsed
importing rows 5000000 to 6000000...Done. 552.7554407119751 total seconds elapsed
importing rows 6000000 to 7000000...Done. 639.6642374992371 total seconds elapsed
importing rows 7000000 to 8000000...Done. 724.6269204616547 total seconds elapsed
importing rows 8000000 to 9000000...Done. 810.8812973499298 total seconds elapsed
importing rows 9000000 to 10000000...Done. 899.3046386241913 total seconds elapsed
importing rows 10000000 to 11000000...Done. 985.7385740280151 total seconds elapsed
importing rows 11000000 to 12000000...Done. 1070.1407368183136 total seconds elapsed
importing rows 12000000 to 13000000...Done. 1161.1817698478699 total seconds elapsed
importing rows 13000000 to 14000000...Done. 1247.6760578155518 total seconds elapsed
importing rows 14000000 to 15000000...Done. 1334.5287964344025 total seconds elapsed
importing rows 15000000 to 16000000...Done. 1420.2285408973694 total seconds elapsed
importing rows 16000000 to 17000000...Done. 1509.150717973709 total seconds elapsed
importing rows 17000000 to 18000000...Done. 1599.2330424785614 total seconds elapsed
importing rows 18000000 to 19000000...Done. 1685.81027841568 total seconds elapsed
importing rows 19000000 to 20000000...Done. 1769.222543478012 total seconds elapsed
importing rows 20000000 to 21000000...Done. 1855.0337269306183 total seconds elapsed
importing rows 21000000 to 22000000...Done. 1939.3223588466644 total seconds elapsed
importing rows 22000000 to 23000000...Done. 2024.8000371456146 total seconds elapsed
importing rows 23000000 to 24000000...Done. 2111.3546409606934 total seconds elapsed
importing rows 24000000 to 25000000...Done. 2197.8709206581116 total seconds elapsed
importing rows 25000000 to 26000000...Done. 2284.846036195755 total seconds elapsed
importing rows 26000000 to 26024289...Done. 2286.910789012909 total seconds elapsed

In [38]:
# Test Run - Movie Most 5 ratings
movies_with_ratings_df.sort_values(by='rating_5.0', ascending=False)

,imdb_id,kaggle_id,title,original_title,tagline,belongs_to_collection,wikipedia_url,imdb_link,runtime,budget,...,rating_0.5,rating_1.0,rating_1.5,rating_2.0,rating_2.5,rating_3.0,rating_3.5,rating_4.0,rating_4.5,rating_5.0
2310,tt0120753,318,The Million Dollar Hotel,The Million Dollar Hotel,NaN,NaN,https://en.wikipedia.org/wiki/The_Million_Doll...,https://www.imdb.com/title/tt0120753/,122.0,8000000.0,...,324.0,388.0,198.0,857.0,752.0,5323.0,3922.0,20840.0,12967.0,45511.0
3000,tt0181852,296,Terminator 3: Rise of the Machines,Terminator 3: Rise of the Machines,The Machines Will Rise.,"{'id': 528, 'name': 'The Terminator Collection...",https://en.wikipedia.org/wiki/Terminator_3:_Ri...,https://www.imdb.com/title/tt0181852/,109.0,200000000.0,...,467.0,2007.0,286.0,2498.0,917.0,9365.0,4224.0,21535.0,10884.0,35718.0
713,tt0108160,858,Sleepless in Seattle,Sleepless in Seattle,"What if someone you never met, someone you nev...",NaN,https://en.wikipedia.org/wiki/Sleepless_in_Sea...,https://www.imdb.com/title/tt0108160/,105.0,21000000.0,...,350.0,488.0,227.0,1018.0,686.0,3889.0,2847.0,12799.0,7478.0,27288.0
3916,tt0762114,2959,License to Wed,License to Wed,First came love... then came Reverend Frank.,NaN,https://en.wikipedia.org/wiki/License_to_Wed,https://www.imdb.com/title/tt0762114/,91.0,35000000.0,...,330.0,666.0,278.0,1275.0,929.0,3904.0,4646.0,14462.0,11334.0,22200.0
2724,tt0120912,608,Men in Black II,Men in Black II,Same Planet. New Scum.,"{'id': 86055, 'name': 'Men In Black Collection...",https://en.wikipedia.org/wiki/Men_in_Black_II,https://www.imdb.com/title/tt0120912/,88.0,140000000.0,...,214.0,823.0,160.0,1516.0,674.0,6054.0,3252.0,16079.0,5666.0,18036.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2199,tt0235872,210307,The Waiting Game,The Waiting Game,NaN,NaN,https://en.wikipedia.org/wiki/The_Waiting_Game...,https://www.imdb.com/title/tt0235872/,85.0,8547.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2198,tt0120458,9423,Virus,Virus,Life on earth is in for a shock.,NaN,https://en.wikipedia.org/wiki/Virus_(1999_film),https://www.imdb.com/title/tt0120458/,99.0,75000000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2196,tt0139699,14709,Varsity Blues,Varsity Blues,It takes a hero to know what's worth winning.,NaN,https://en.wikipedia.org/wiki/Varsity_Blues_(f...,https://www.imdb.com/title/tt0139699/,106.0,16000000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2195,tt0176269,10366,Universal Soldier: The Return,Universal Soldier: The Return,Prepare to become obsolete,"{'id': 10713, 'name': 'Universal Soldier Colle...",https://en.wikipedia.org/wiki/Universal_Soldie...,https://www.imdb.com/title/tt0176269/,82.0,45000000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6051,tt3859310,341689,How to Talk to Girls at Parties,How to Talk to Girls at Parties,Some girls are out of this world.,NaN,https://en.wikipedia.org/wiki/How_to_Talk_to_G...,https://www.imdb.com/title/tt3859310/,102.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0